@import '../../../styles/variables';

.smart-home-layout {
  background-color: $primaryBackground;
  width: 100%;
  height: 100vh;
  display: flex;
  // grid-template-columns: 1fr 2fr;
  flex-direction: row;
  position: relative;
}
