@import '../../../styles/variables';

.smart-home-layout {
  background-color: $primaryBackground;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

@media (max-width: 768px) {
  .smart-home-layout {
    flex-direction: column;
  }
}
