@import '../../../../../../../styles/variables';

:host {
  .mat-icon {
    margin-right: 20px;
  }
  .toggle-switcher-icon.active-icon {
    color: $iconColorActive;
  }
  .toggle-switcher {
    display: flex;
    padding: 0;
    width: 50px;
    height: 20px;
    background-color: $switcherButtonBackgroundInactive;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

      transition: all 0.5s;
    .switcher-round{
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 100%;
      background-color: $switcherRoundInactive;
      position: absolute;
      left: 0;
      transition: all 0.5s;
    }

    &.active {
        background-color: $switcherButtonBackgroundActive;
        .switcher-round{
        left: 30px;
        background-color: $switcherRoundActive;
        }
    }
  }

  & button:last-of-type{
    margin-left: auto;
  }
}








