@import '../../../../../../../styles/variables';

:host {
  .mat-icon {
    margin-right: 20px;
  }
  .toggle-switcher {
    display: flex;
    padding: 0;
    width: 50px;
    height: 20px;
    background-color: $switcherButtonBackgroundInactive;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    .switcher-round {
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 100%;
      background-color: $switcherRoundInactive;
      position: absolute;
      left: 0;
      transition: all 0.5s;
    }
  }
  & p:last-of-type {
    margin-left: auto;
  }
}

.horizontalLayout {
  :host {
    & .mat-icon {
      margin: 0;
    }
    & p:last-of-type {
      margin: 0;
    }
  }
}
