$primaryBackground: #111111;
$sidebarBackground: #1c1c1c;
$tabsLayoutBackground: #101d23;

$mainTextColor: rgba(255, 255, 255, 0.8);

$toggleSwitcherInactiveBackground: rgba(75, 75, 75);
$toggleDashboardActive: rgba(3, 169, 249);
$switcherRoundInactive: #999999;
$switcherRoundActive: #01aaf7;
$switcherButtonBackgroundInactive:#4a4a4a;
$switcherButtonBackgroundActive: #0b6994;

