$primaryBackground: #111111;
$sidebarBackground: #1c1c1c;
$tabsLayoutBackground: #101d23;

$mainTextColor: rgba(255, 255, 255, 0.8);

$toggleSwitcherInactiveBackground: rgba(75, 75, 75);
$toggleDashboardActive: rgba(3, 169, 249);
$toggleDashboardInactive: rgba(146, 146, 146);
$switcherRoundInactive: #999999;
$switcherRoundActive: #01aaf7;
$switcherButtonBackgroundInactive: #4a4a4a;
$switcherButtonBackgroundActive: #0b6994;
$iconColorMain: #47729a;
$iconColorActive: #dfaf39;
$modalAuthTitleColor: #b0b0b0;
$modalAuthLabelColor: #888888;
$modalAuthInputFieldBackground: #282828;
$modalAuthInputFieldColor: #afafaf;
$modalAuthButtonColor: #daf1fd;
