<div class="card">
  <h3 class="card-title">{{card().title}}</h3>
  <div class="{{card().layout}}">
      @for(item of card().items; track item.label; let i = $index){
        <div class="item" [id]="item.label">
           <p>{{item.label}}</p>
           @if(item.type === 'device' && item?.state !== undefined){
            <button class="toggle-switcher" [class.active]="item.state" (click)="this.appState.toggleItemSwitcher(card().id, item.label)">
              <span class="switcher-round"></span>
            </button>
           }
              @if(item.type !== 'device'){
           <p>{{item.value?.amount}} {{item.value?.unit}}</p>
              }
        </div>
      }
  </div>

</div>
