@import '../../../../../../styles/variables';

:host {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  height: 40px;
  margin: 0 5px;
}

.dashboard-switcher {
  width: 100%;
  height: inherit;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
  gap: 15px;
  padding-left: 15px;

  p {
    height: fit-content;
    color: $mainTextColor;
    font-size: 1.5em;
  }
}

:host.active p {
  color: $toggleDashboardActive;
}

:host.active {
  background-color: rgba(26, 46, 55);
}
