@import '../../../styles/variables';

:host {
  background-color: #1c1c1c;
  height: 300px;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
  .auth-form {
    height: inherit;
    display: flex;
    flex: 0 0 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
      color: $modalAuthTitleColor;
    }
    .error {
      color: #ff0101;
      height: 1em;
      font-size: 1em;
    }
    button {
      background-color: $toggleDashboardActive;
      border: none;
      padding: 10px;
      color: $modalAuthButtonColor;
      border-radius: 5px;
    }
  }
}
