@import '../../../../../styles/variables';

:host {
  height: 100%;
  color: $mainTextColor;


}

.dashboards-switcher{
  gap: 10px;
  margin-top: 10px;;
}

@media(max-width: 768px){
  :host {
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  left: -100%;
    transition: all 0.5s;
    .dashboards-switcher{
      background-color: $sidebarBackground;
      height: 100%;

    }
  }

  :host.open {
    left: 0;
    .dashboards-switcher{
      background-color: $sidebarBackground;
      height: 100%;

    }
  }

}
