
<div class="dashboards-switcher flex flex-column">
  @for(dashboard of dashboards; track dashboard.id; let i = $index){
    <smart-home-dashboard-switcher
      [title]="dashboard.title"
      [id]="dashboard.id"
      [icon]="this.appState.selectedDashboardSwitcherIdSignal() === dashboard.id ? dashboard.iconPathActive : dashboard.iconPath"
      [class.active]="this.appState.selectedDashboardSwitcherIdSignal() === dashboard.id"
      (click)= "this.manageDashboard(dashboard.id)"
  ></smart-home-dashboard-switcher>
  }
</div>


