@import '../../../../styles/variables';

:host {
  background-image: url('/modal-auth/night-sky.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $mainTextColor;
    height: fit-content;
    gap: 30px;
    h2.error {
      font-size: 6em;
    }
    h3.text {
      font-size: 5em;
    }

  }
}
