.sidebar {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border: 1px solid rgb(178, 178, 178);
  box-sizing: border-box;
  justify-content: space-between;
}

@media (max-width: 768px){
  .sidebar {
    // position: absolute;
    // left: -100px;
    display: none;
  }
}
