@import '../../../styles/variables';

:host {
  // position: relative;
}

.sidebar {
  width: 350px;
  flex-shrink: 0;
  height: 100%;
  background-color: $sidebarBackground;
  border: 1px solid rgb(178, 178, 178);
  box-sizing: border-box;
  justify-content: space-between;
}

@media (max-width: 768px){
  .sidebar {
   width: 100%;
  }
}
