@import '../../../styles/variables';

:host {
 width: 100%;
//  min-height: max-content;
}

.dashboard-layout {
  // max-width: 1440px;
  // width: 100%;

  // height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  display: flex;
  min-width: 0;
}
