html, body {
  height: 100%;
  overflow-x: hidden;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
