@use '../../../../../styles/variables' as *;

.footer {
  border-top: 1px solid rgb(178, 178, 178);
  display: flex;
  flex-direction: column;
  .add-dashboard-button {
    height: 70px;
    background-color: transparent;
    color: $mainTextColor;
    font-size: 1.2em;
    border: none;
    text-align: left;
    padding: 0 30px;
    cursor: pointer;
  }

  .add-dashboard-button:hover {
    color: $toggleDashboardActive;
  }
  .footer-content {
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;

    p {
      border-radius: 100px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 3em;
      background-color: #cefeff;
    }
    h2 {
      color: #ffffffdb;
    }
    .logout {
      border: none;
      background-color: transparent;
      cursor: pointer;

      .logout-icon {
        color: $switcherButtonBackgroundInactive;
      }
    }

    .logout:hover .logout-icon {
      color: $switcherButtonBackgroundActive;
    }
  }
}

@media (max-width: 768px) {
  :host {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    left: -100%;
    transition: all 0.5s;
    .footer {
      background-color: $sidebarBackground;
    }
  }

  :host.open {
    left: 0;
    .footer {
      background-color: $sidebarBackground;
    }
  }
}
