@import '../../../../../styles/variables';

.footer {
  height: 80px;
  border-top: 1px solid rgb(178, 178, 178);
  .footer-content {
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    p {
      border-radius: 100px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 3em;
      background-color: #cefeff;
    }
    h2 {
      color: #ffffffdb;
    }
  }
}

@media (max-width: 768px) {
  :host {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    left: -100%;
    transition: all 0.5s;
    .footer {
      background-color: $sidebarBackground;
    }
  }

  :host.open {
    left: 0;
    .footer {
      background-color: $sidebarBackground;
    }
  }
}
