@use '../../../../../../../../styles/variables' as *;

:host {
  background-color: $sidebarBackground;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
  display: flex;
  .modification-card-modal {
    gap: 20px;
    button {
      background-color: transparent;
      border: none;
    }

    h2,
    h3,
    p,
    button {
      color: $mainTextColor;
    }

    .header {
      gap: 20px;
    }

    .entities {
      gap: 10px;
      .entities-items {
        padding: 0;
        margin: 0;
        gap: 10px;
        .entity-block {
          justify-content: space-between;
          align-items: center;

          li {
            background-color: $modalAuthInputFieldBackground;
            border-bottom: 1px solid #535353;
            padding: 10px;
            width: 80%;
            border-radius: 5px 5px 0 0;
            align-items: center;

            button {
              .icon {
                padding: 0;
                color: $mainTextColor;
              }
            }
          }
        }
      }
    }
    .managment-edit-card {
      justify-content: flex-end;
      gap: 10px;
      .managment-card-entities {
        color: $toggleDashboardActive;
      }
    }
  }
  // .add-dashboard-form {
  //   height: inherit;
  //   display: flex;
  //   flex: 0 0 1;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   align-items: center;
  //   gap: 20px;
  //   button {
  //     background-color: $toggleDashboardActive;
  //     border: none;
  //     padding: 10px;
  //     color: $modalAuthButtonColor;
  //     border-radius: 5px;
  //     cursor: pointer;
  //   }
  //   button.close-modal-button {
  //     background-color: transparent;
  //     border: none;
  //     align-self: flex-end;
  //     color: $mainTextColor;
  //   }
  //   .add-dashboard-form-title {
  //     color: $modalAuthTitleColor;
  //   }
  //   .add-dashboard-form-inputs {
  //     label {
  //       color: $modalAuthLabelColor;
  //     }
  //     input {
  //       background-color: transparent;
  //       border: none;
  //       font-size: 1.2em;
  //       color: $modalAuthInputFieldColor;
  //     }
  //   }
  // }
}
