:host{
  height: 100%;
}

.dashboard {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 10px;
}

@media (max-width: 751px){
  .dashboard {
    flex-direction: column;
    align-items: center;
}
}

@media (max-width: 379px){
  .dashboard {
    padding: 20px 0;
}
}
