:host {
  background-image: url('/modal-auth/night-sky.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
}
